/* General Reset */
* {
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e2f;
    color: #fff;
    line-height: 60px;

}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0d1321;
}


.navbar:hover {
    background-color: #141a31;
}


.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding: 5px 10px;
}



.navbar ul li a:hover {
    color: #00d4ff;
}

/* About Page */
.about-page {
    margin: 32px;
    text-align: center;
}

.about-page h1 {
    font-size: 40px;
    margin-bottom: 16px;
}




/* Scroll Buttons */
.navigation-buttons {
    margin: 16px 0;

}

.scroll-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: #00d4ff;
}

/* Team Section */
.team-grid {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 16px;
}

.team-member {
    text-align: center;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
}


.member-name {
    font-size: 20px;
    font-weight: bold;
    color: #00d4ff;
}

.member-role {
    font-size: 16px;
    color: white;
}

/* Team Message */
.team-message {
    margin-top: 16px;
    font-size: 20px;
    color: white;
    font-style: italic;
}

/* Footer Section */
.footer {
    background-color: #0d1321;
    padding: 20px;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
