/* General Reset */
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e2f;
    color: #fff;

}
/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0d1321;
}

.navbar:hover {
    background-color: #141a31;
}

.navbar .logo {
    font-size: 28px;
    font-weight: 700;
    color: #00d4ff;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding: 5px 10px;
}



.navbar ul li a:hover {
    color: #00d4ff;
}


/* Contact Page */
.contact-page {
    margin: 32px;
    text-align: center;
}

.contact-page h1 {
    color: #00d4ff;
    font-size: 40px;
    margin-bottom: 16px;
}

.contact-page p {
    font-size: 16px;
    color: white;
    margin-bottom: 32px;
}


